@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    1651 E Parham Rd<br />
    Richmond, VA 23228<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>School:</strong>   <a href="mailto:cwf281@email.vccs.edu">cwf281@email.vccs.edu</a><br />
    <strong>Personal:</strong> <a href="Farmercurt88@gmail.com">Farmercurt88@gmail.com</a>
</address>